
{% extends 'pruebas/main_template.html' %}
    
{% load static %}
    
{% block content %}
 <div class=bg-light>
        <section class="container m-height">
            <div class="p-4 p-md-5 mb-4 text-white bg-imagenNosotros shadow-sm"style="background-image: url({% static 'pruebas/img/sobre Nosotros.jpg' %})">
                <div>
                    <h2 class="display-4 fw-bold">Vivero Orgánico</h2>
                </div>
            </div>
            
            <div class="p-4 p-md-5">
                <h2 class="fw-bold"> Quienes somos</h2>

                <p class=" fs-6">Nunc hendrerit lectus eu urna lacinia molestie. <span class="fw-bold">jaguaretekaa </span> turpis massa. Curabitur imperdiet rhoncus justo, ut fringilla nulla dignissim nec. Proin feugiat efficitur imperdiet. Quisque vitae ante non purus
                    ornare rhoncus. Aliquam imperdiet diam quis justo mollis, quis aliquet nulla sollicitudin. Pellentesque dictum ante at turpis malesuada, nec sagittis magna auctor. Sed dictum eu neque nec faucibus. Pellentesque sollicitudin elit sed
                    tellus viverra, vel semper felis dapibus. In erat magna, cursus nec orci vel, pretium mattis mauris. Suspendisse eu dolor non nisi scelerisque ultricies. Donec placerat eleifend tortor, sed dignissim ligula. Mauris pharetra enim lobortis
                    elementum commodo. Nullam felis lorem, volutpat ac mattis at, posuere ac lectus. Donec a ultricies purus, jaguaretekaa elit. Mauris vel auctor tellus, eu tristique justo. Sed a nisl magna. Proin consectetur pharetra felis non vulputate.
                    Nullam maximus, massa ac semper accumsan, ipsum turpis fermentum ex, imperdiet consequat ipsum lorem eu lorem. Nulla et felis tempor, sollicitudin orci a, elementum mi. Nunc sit amet ex purus. Fusce vel pulvinar lectus. Vestibulum
                    ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Duis id mauris a mauris dapibus semper. Nunc at massa vitae tellus suscipit efficitur. Nulla eu ligula quam. Pellentesque aliquet orci turpis, eget hendrerit
                    ligula interdum ac. Nam venenatis quam mauris, quis convallis neque dignissim vel. Fusce consequat mi lacus, nec tincidunt tortor tempor ut.
                </p>

            </div>



        </section>
 </div>
{% endblock  %}
