{% extends 'pruebas/secondary_template.html' %}
    
{% load static %}
    
{% block content %}


    <div class="card text-center shadow-lg container ">
        <main>
            <h1 class=" mb-3 p-2 fs-3 fw-bold  ">Completa Tus Datos</h1>
            <form action=""method="post">
              {% csrf_token %}
               {{ form.as_p }} 
                   
                <input type="submit" class="btn btn-success" value="crear Cuenta">
            </form>
             <div class="mt-3 d-grid gap-2 col-6 mx-auto">
                
                <a href="{% url 'login' %}" class="link-success mb=6">ingresar</a>
             </div>
          

        </main>
        </div>

{% endblock %}